@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import "../node_modules/@syncfusion/ej2/material.css";

body {
  margin: 0;
  font-family: 'Lato';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: 'Lato'
}

.main-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.header {
  height: 60px;
  background-color: #fff;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  justify-content: space-between;
}

.header span { 
  margin-bottom: 5px;
  font-size: 1.2rem;
}

.header img {
  width: 50px;
  height: 50px;
  object-fit: contain;
  border-radius: 50%;
  margin-left: 10px;
}

.header-day {
  margin: 0px 10px;
}

.img-container {
  display: flex;
  align-items: center;
}

.sidebar {
  width: 20%;
  background-image: url('./static/tree-sidebar.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0.8rem 1.8rem;
  color: #f7fee7;
}
.sidebar-title{
  color: darkgreen;
}
.side-icons{
  padding: 0rem 1.5rem;
}
.sidebar span {
  font-size: 27px;
  margin-left: 10px;
}

.sidebar-links {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 87%;
}
.sidebar-link {
  color: #f7fee7;
  text-decoration: none;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1.5rem 0.5rem;
  border-radius: 10px;
  background-color: #3f6212e1;
  margin-bottom: 1rem;
  transition: transform 0.3s ease-in-out;
}
.sidebar-link span {
  font-size: 1rem;
}
.sidebar-link:hover {
  background-color: #2b420c;
  transform: scale(1.05);
}

.logout-link {
  color: #ef4444;
  background-color: #2b420c;
  font-size: 1.2rem;
}

.sidebar-link span {
  font-size: 1rem;
}

.main {
  width: 100%;
  background-color: #f7fee7;
}

.calendar-component {
  color: #4d7c0f;
}

.mt {
  margin-top: 10px;
}

.location {
  background-color: #454545;
  width: 100%;
  height: 100%;
}

.screenshot-container {
  position: absolute;
  top: 90%;
  z-index: 2;
  margin-left: 20px;
  padding: 10px 20px;
}

.polygonCapture {
  position: absolute;
  top: 80px;
  z-index: 100;
}

.map-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.request-btn {
  position: absolute;
  top: 85%;
  margin-left: 1rem;
  z-index: 21399879;
  padding: 10px 20px;
  background-color: #3f6212;
  color: #f7fee7;
  border-radius: 5px;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  transition: background 0.3s ease;
  cursor: pointer;
}

.request-btn:hover {
  background-color: #4d7c0f;
}

.request-btn span {
  margin-left: 10px;
}

.loader-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* CSS Overlay Class */
.overlay {
  position: relative;
}

.overlay::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the color and opacity here */
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.overlay::before {
  opacity: 1;
}

.result {
  width: 700px;
  height: 500px;
  background-color: #f7fee7;
  position: absolute;
  left: 20%;
  top: 5%;
  z-index: 5;
  padding: 15px 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 5px
}

.result-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.result-text {
  font-size: large;
  font-weight: 600;
}

.result-content img {
  width: 600px;
  height: 260px;
} 

.loader {
  border-color: #3f6212;
  z-index: 3;
  position: absolute;
  left: 40%;
  top: 40%;
}

.result-btn-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.result-btn {
  margin-right: 10px;
  border-radius: 5px;
  color: #f7fee7;
  padding: 10px 20px;
  background-color: #3f6212;
}

.result-btn-cancel {
  background-color: #ef4444;
}